<header>
    <div class="container" style="position: relative;">
        <img src="assets/cameroon-flag.jpg" alt="Cameroon Flag" class="cameroon-flag">
        <a routerLink="/" class="logo">MBOA CONTINENG</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login">Home</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashbord">@brantcho</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/oders">Oders</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">
                        Cart <span>3</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div> 
</header>
